<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <meta name="description" content="AS IT Solutions provide wide range of IT products & Service to
    satisfy day to day needs and enhance people’s quality of life. We
    have dedicated ourselves in upgrading the knowledge and skill of our
    people through adopting the Latest & Advance technology.">
    <meta property="og:image" content="./assets/hero.jpg"/>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.png" />
    <link rel="stylesheet" href="styles/globals.css" />
    <link rel="stylesheet" href="styles/contact.css" />
    <link
      href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="shadow">
      <a href="/"><img src="./assets/logo.png" alt="logo" /></a>

      <button class="nav-toggle" aria-controls="navigation">
        <i class="fa-solid fa-bars"></i>
      </button>

      <nav>
        <ul class="primary-navigation" data-visible="false">
          <li><a href="/">Home</a></li>
          <li class="dropdown">
            <a class="dropbtn"
              >Services <i class="fa-solid fa-caret-down"></i
            ></a>
            <div class="dropdown-content">
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
              <a href="/services/networking">Professional Networking</a>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
              <a href="/services/virtual-computing">Virtual Computing</a>
              <a href="/services/online-ups">Online UPS Solutions</a>
              <a href="/services/biometric-attendance">Biometric attendance</a>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </div>
          </li>

          <li class="responsive-nav">
            <a href="/services/ip-cctv">IP/CCTV Camera</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/networking">Professional Networking</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/ip-pbx">IP PBX Solutions</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/virtual-computing">Virtual Computing</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/online-ups">Online UPS Solutions</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/biometric-attendance">Biometric attendance</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/public-announcement-system"
              >Public Announcement System</a
            >
          </li>

          <li><a href="/clients">Clients</a></li>

          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <div class="title">
        <h1>Contact us</h1>
      </div>

      <main>
        <div class="row">
          <section>
            <div>
              <h2>Get in Touch</h2>
              <hr />
            </div>

            <div class="row">
              <i class="fa-solid fa-phone"></i>
              <div>
                <h3>Phone Number</h3>
                <p><a href="tel:+01628888444">01628888444</a></p>
              </div>
            </div>

            <div class="row">
              <i class="fa-solid fa-envelope"></i>
              <div>
                <h3>Email</h3>
                <p>
                  <a href="mailto:info@asitsolutions.net"
                    >info@asitsolutions.net</a
                  >
                </p>
              </div>
            </div>

            <div class="row">
              <i class="fa-solid fa-location-dot"></i>
              <div>
                <h3>Address</h3>
                <p>
                  House 11, Road 15, Nikunja 2, <br />
                  Khilkhet, Dhaka 1229
                </p>
              </div>
            </div>
          </section>

          <form action="/contact" method="post">
            <h2>Send Us a Message</h2>

            <label for="name">Your name</label>
            <input type="text" name="name" placeholder="..." required />

            <label for="email">Your email</label>
            <input type="email" name="email" placeholder="..." required />

            <label for="subject">Subject</label>
            <input type="text" placeholder="..." required />

            <label for="message">Your message</label>
            <textarea name="message" placeholder="..." required></textarea>

            <button type="submit">Submit</button>
          </form>
        </div>
      </main>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10610.69872496193!2d90.41213211546912!3d23.827851980467052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c700378c0b6f%3A0x877bafdf4d4df69c!2sAS%20IT%20SOLUTIONS!5e0!3m2!1sen!2sbd!4v1711616879107!5m2!1sen!2sbd"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <footer>
      <div class="row">
        <div>
          <h1>AS IT Solutions</h1>
          <p>All rights reserved.</p>
        </div>

        <div>
          <h2>Get in touch</h2>

          <p>
            <i class="fa-solid fa-location-dot"></i> House 11, Road 15, Nikunja
            2, Khilkhet, Dhaka 1229
          </p>
          <p>
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:info@asitsolutions.net">info@asitsolutions.net</a>
          </p>
          <p>
            <i class="fa-solid fa-phone"></i>
            <a href="tel:+01628888444">01628888444</a>
          </p>
          <p>
            <i class="fa-solid fa-phone-office"></i>
            <a href="tel:+09614445555">09614445555</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="./header.js"></script>
  </body>
</html>
