<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Successful!</title>
    <meta name="description" content="AS IT Solutions provide wide range of IT products & Service to
    satisfy day to day needs and enhance people’s quality of life. We
    have dedicated ourselves in upgrading the knowledge and skill of our
    people through adopting the Latest & Advance technology.">
    <meta property="og:image" content="./assets/hero.jpg"/>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.png" />
    <link rel="stylesheet" href="styles/globals.css" />
    <link rel="stylesheet" href="styles/contact.css" />
    <link
      href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <style>
      .container main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
      }

      main a {
        font-size: larger;
      }

      main a:hover {
        color: #0cc0df;
        text-decoration: underline;
        transition: 0.1s;
      }
    </style>

<header class="shadow">
  <a href="/"><img src="./assets/logo.png" alt="logo" /></a>

  <button class="nav-toggle" aria-controls="navigation">
    <i class="fa-solid fa-bars"></i>
  </button>

  <nav>
    <ul class="primary-navigation" data-visible="false">
      <li><a href="/">Home</a></li>
      <li class="dropdown">
        <a class="dropbtn"
          >Services <i class="fa-solid fa-caret-down"></i
        ></a>
        <div class="dropdown-content">
          <a href="/services/ip-cctv">IP/CCTV Camera</a>
          <a href="/services/networking">Professional Networking</a>
          <a href="/services/ip-pbx">IP PBX Solutions</a>
          <a href="/services/virtual-computing">Virtual Computing</a>
          <a href="/services/online-ups">Online UPS Solutions</a>
          <a href="/services/biometric-attendance">Biometric attendance</a>
          <a href="/services/public-announcement-system"
            >Public Announcement System</a
          >
        </div>
      </li>

      <li class="responsive-nav">
        <a href="/services/ip-cctv">IP/CCTV Camera</a>
      </li>
      <li class="responsive-nav">
        <a href="/services/networking">Professional Networking</a>
      </li>
      <li class="responsive-nav">
        <a href="/services/ip-pbx">IP PBX Solutions</a>
      </li>
      <li class="responsive-nav">
        <a href="/services/virtual-computing">Virtual Computing</a>
      </li>
      <li class="responsive-nav">
        <a href="/services/online-ups">Online UPS Solutions</a>
      </li>
      <li class="responsive-nav">
        <a href="/services/biometric-attendance">Biometric attendance</a>
      </li>
      <li class="responsive-nav">
        <a href="/services/public-announcement-system"
          >Public Announcement System</a
        >
      </li>

      <li><a href="/clients">Clients</a></li>

      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

    <div class="container">
      <div class="title" style="margin-top: 80px">
        <h1>Message sent!</h1>
      </div>

      <main>
        <a href="/">Return to home page...</a>
      </main>
    </div>

    <footer>
      <div class="row">
        <div>
          <h1>AS IT Solutions</h1>
          <p>All rights reserved.</p>
        </div>

        <div>
          <h2>Get in touch</h2>

          <p>
            <i class="fa-solid fa-location-dot"></i> House 11, Road 15, Nikunja
            2, Khilkhet, Dhaka 1229
          </p>
          <p>
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:info@asitsolutions.net">info@asitsolutions.net</a>
          </p>
          <p>
            <i class="fa-solid fa-phone"></i>
            <a href="tel:+01628888444">01628888444</a>
          </p>
          <p>
            <i class="fa-solid fa-phone-office"></i>
            <a href="tel:+09614445555">09614445555</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="./header.js"></script>
  </body>
</html>
