<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AS IT Solutions</title>
    <meta name="description" content="AS IT Solutions provide wide range of IT products & Service to
    satisfy day to day needs and enhance people’s quality of life. We
    have dedicated ourselves in upgrading the knowledge and skill of our
    people through adopting the Latest & Advance technology.">
    <meta property="og:image" content="./assets/hero.jpg"/>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.png" />
    <link rel="stylesheet" href="styles/globals.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <link
      href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="shadow">
      <a href="/"><img src="./assets/logo.png" alt="logo" /></a>

      <button class="nav-toggle" aria-controls="navigation">
        <i class="fa-solid fa-bars"></i>
      </button>

      <nav>
        <ul class="primary-navigation" data-visible="false">
          <li><a href="/">Home</a></li>
          <li class="dropdown">
            <a class="dropbtn"
              >Services <i class="fa-solid fa-caret-down"></i
            ></a>
            <div class="dropdown-content">
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
              <a href="/services/networking">Professional Networking</a>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
              <a href="/services/virtual-computing">Virtual Computing</a>
              <a href="/services/online-ups">Online UPS Solutions</a>
              <a href="/services/biometric-attendance">Biometric attendance</a>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </div>
          </li>

          <li class="responsive-nav">
            <a href="/services/ip-cctv">IP/CCTV Camera</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/networking">Professional Networking</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/ip-pbx">IP PBX Solutions</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/virtual-computing">Virtual Computing</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/online-ups">Online UPS Solutions</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/biometric-attendance">Biometric attendance</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/public-announcement-system"
              >Public Announcement System</a
            >
          </li>

          <li><a href="/clients">Clients</a></li>

          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <section>
        <div class="spotlight">
          <img src="./assets/logo.png" alt="logo" />
        </div>

        <div class="gallery">
          <div class="gallery-row">
            <img
              src="./assets/cctv_crop.png"
              alt="IP/CCTV cameras"
              width="300px"
              height="200px"
            />
            <img
              src="./assets/networking.jpg"
              alt="Professional networking"
              width="300px"
              height="200px"
            />
          </div>
          <div class="gallery-row">
            <img
              src="./assets/biometric_crop.png"
              alt="Biometric attendance"
              width="200px"
              height="200px"
            />
            <img
              src="./assets/virtual_computer_crop.png"
              alt="Virtual computing"
              width="400px"
              height="200px"
            />
          </div>
        </div>
        <div class="slideshow">
          <div class="slideshow-container">
            <div class="mySlides fade">
              <img src="./assets/cctv.png" alt="IP/CCTV cameras" />
            </div>

            <div class="mySlides fade">
              <img
                src="./assets/networking.jpg"
                alt="Professional networking"
              />
            </div>

            <div class="mySlides fade">
              <img src="./assets/biometric.png" alt="Biometric attendance" />
            </div>

            <div class="mySlides fade">
              <img src="./assets/virtual_computer_crop.png" height="200px" alt="Virtual computing" />
            </div>
          </div>
          <br />

          <div style="text-align: center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
      </section>

      <div class="service-container">
        <h1>Our services</h1>

        <section class="services">
          <div class="card">
            <h3>IP/CCTV Camera</h3>
            <p>
              AS IT Solutions secures your property with high-tech surveillance
              cameras for peace of mind.
            </p>
            <a href="/services/ip-cctv">Learn more...</a>
          </div>

          <div class="card">
            <h3>Professional Networking</h3>
            <p>
              AS IT Solutions boosts business success with custom network
              solutions for seamless communication.
            </p>
            <a href="/services/networking">Learn more...</a>
          </div>

          <div class="card">
            <h3>IP PBX Solutions</h3>
            <p>
              AS IT Solutions offers innovative IP PBX systems for businesses,
              improving communication & collaboration with feature-rich,
              scalable solutions.
            </p>
            <a href="/services/ip-pbx">Learn more...</a>
          </div>

          <div class="card">
            <h3>Virtual Computing</h3>
            <p>
              AS IT Solutions offers virtual desktops accessed through thin
              clients, improving business flexibility, efficiency & scalability
              in a dynamic IT infrastructure.
            </p>
            <a href="/services/virtual computing">Learn more...</a>
          </div>

          <div class="card">
            <h3>Online UPS Solutions</h3>
            <p>
              AS IT Solutions offers reliable Online UPS systems to prevent
              downtime during power cuts, keeping your business operational.
            </p>
            <a href="/services/online-ups">Learn more...</a>
          </div>

          <div class="card">
            <h3>Biometric attendance</h3>
            <p>
              AS IT offers fingerprint scanners for accurate employee attendance
              tracking, boosting workforce efficiencys.
            </p>
            <a href="/services/biometric-attendance">Learn more...</a>
          </div>

          <div class="card col-span-3">
            <h3>Public Announcement System</h3>
            <p>
              AS IT Solutions offers high-tech PA systems for clear
              communication across any business environment
            </p>
            <a href="/services/public-announcement-system">Learn more...</a>
          </div>
        </section>
      </div>

      <div class="tiles">
        <div class="tile col-span-2">
          <h1>About us</h1>

          <p>
            At AS IT Solutions, we are driven by a passion for technology and a
            commitment to delivering cutting-edge IT solutions that transform
            businesses. we specialize in providing a wide range of services that
            cater to the unique needs and challenges of today’s dynamic business
            landscape.
          </p>

          <p>
            AS IT Solutions provide wide range of IT products & Service to
            satisfy day to day needs and enhance people’s quality of life. We
            have dedicated ourselves in upgrading the knowledge and skill of our
            people through adopting the Latest & Advance technology. “Always
            provide the best quality products and services to our customers” is
            our main Goal.
          </p>
        </div>

        <div class="tile">
          <h1>Transform your business!</h1>

          <p>
            Whether you are a startup looking to establish a digital presence or
            an established enterprise aiming to enhance efficiency, AS IT
            Solutions is here to help.
          </p>

          <p>
            Let's embark on a journey of innovation and growth together. It is a
            paradisematic country, in which Contact us today to discuss how our
            IT solutions can empower your business for success.
          </p>
        </div>

        <div class="tile">
          <h1>Our socials</h1>

          <div class="row">
            <a
              href="https://www.facebook.com/as.it.sl"
              target="_blank"
              style="margin-left: 0"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a href="https://www.instagram.com/asitsolutions/" target="_blank"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a
              href="https://api.whatsapp.com/send?phone=8801628888444"
              target="_blank"
              ><i class="fa-brands fa-whatsapp"></i
            ></a>
          </div>
        </div>

        <div class="tile col-span-2">
          <h1>Why choose us?</h1>

          <div class="grid">
            <div>
              <h3>1. Expert team</h3>

              <p>
                Our team of experienced professionals is dedicated to delivering
                excellence in every project. We stay at the forefront of
                technological advancements to provide innovative solutions that
                propel your business forward.
              </p>
            </div>

            <div>
              <h3>2. Client-Centric Approach</h3>

              <p>
                Your success is our priority. We work closely with our clients,
                understanding their goals and challenges, to deliver solutions
                that align with their business objectives.
              </p>
            </div>

            <div>
              <h3>3. Quality Assurance</h3>

              <p>
                We adhere to stringent quality standards to ensure that our
                deliverables are reliable, secure, and scalable. Our commitment
                to quality is evident in the satisfaction of our clients.
              </p>
            </div>

            <div>
              <h3>4. Agile Methodology</h3>

              <p>
                Embracing an agile development approach, we adapt to changes
                quickly and efficiently, ensuring that your projects are
                delivered on time and within budget.
              </p>
            </div>
          </div>
        </div>

        <a href="/contact" class="col-span-3"
          ><div class="tile"><h1>Contact Us</h1></div></a
        >
      </div>
    </div>

    <footer>
      <div class="row">
        <div>
          <h1>AS IT Solutions</h1>
          <p>All rights reserved.</p>
        </div>

        <div>
          <h2>Get in touch</h2>

          <p>
            <i class="fa-solid fa-location-dot"></i> House 11, Road 15, Nikunja
            2, Khilkhet, Dhaka 1229
          </p>
          <p>
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:info@asitsolutions.net">info@asitsolutions.net</a>
          </p>
          <p>
            <i class="fa-solid fa-phone"></i>
            <a href="tel:+01628888444">01628888444</a>
          </p>
          <p>
            <i class="fa-solid fa-phone-office"></i>
            <a href="tel:+09614445555">09614445555</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="./header.js"></script>
    <script>
      let slideIndex = 0;
      showSlides();

      function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
          slideIndex = 1;
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
      }
    </script>
  </body>
</html>
