.container {
  margin-top: 80px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #f1f1f1;
}

.title h1 {
  color: #0cc0df;
}

.slideshow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.slideshow-container img {
  height: 200px;
  width: 200px;
}

.mySlides {
  display: none;
}

.numbertext {
  color: #0097b2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background: #f1f1f1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #0097b2;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.client-list {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1.5rem;
  border-radius: 4px;
}

.card p {
  font-size: large;
}

@media (min-width: 750px) {
  .client-list {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 1rem;
  }

  .col-span-3 {
    grid-column: span 3;
  }
}
