.container {
  margin-top: 80px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #f1f1f1;
}

.title h1 {
  color: #0cc0df;
}

h2,
h3 {
  color: #0097b2;
}

hr {
  width: 70px;
  border: 2px solid #0cc0df;
  margin-block: 0.7rem;
}

form button {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  background: #f1f1f1;
  color: #0097b2;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  cursor: pointer;
  transition: 0.1s;
}

form button:hover {
  background: #0cc0df;
}

iframe {
  width: 100%;
  height: 300px;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-left: 2rem;
}

form h2 {
  margin-bottom: 1rem;
}

label {
  margin-block: 0.5rem;
  display: block;
}

input,
textarea {
  padding: 8px;
  width: calc(100% - 1rem);
  border: 2px solid grey;
  border-radius: 4px;
  outline: none;
  resize: none;
}

main {
  padding: 2rem;
}

main .row {
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section .row {
  justify-content: start;
}

section .row i {
  font-size: 32px;
  width: 40px;
}

@media (max-width: 850px) {
  main .row {
    flex-direction: column;
    justify-content: start;
  }

  section {
    width: 100%;
  }

  section .row {
    flex-direction: row;
    justify-content: start;
  }

  form {
    margin-left: 0;
    width: 90%;
  }
}

@media (max-width: 450px) {
  form {
    width: 90%;
  }
}
