<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biometric Attendance</title>
    <meta name="description" content="AS IT Solutions provide wide range of IT products & Service to
    satisfy day to day needs and enhance people’s quality of life. We
    have dedicated ourselves in upgrading the knowledge and skill of our
    people through adopting the Latest & Advance technology.">
    <meta property="og:image" content="../assets/hero.jpg"/>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.png" />
    <link rel="stylesheet" href="../styles/globals.css" />
    <link rel="stylesheet" href="../styles/service.css" />
    <link
      href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="shadow">
      <a href="/"><img src="../assets/logo.png" alt="logo" /></a>

      <button class="nav-toggle" aria-controls="navigation">
        <i class="fa-solid fa-bars"></i>
      </button>

      <nav>
        <ul class="primary-navigation" data-visible="false">
          <li><a href="/">Home</a></li>
          <li class="dropdown">
            <a class="dropbtn"
              >Services <i class="fa-solid fa-caret-down"></i
            ></a>
            <div class="dropdown-content">
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
              <a href="/services/networking">Professional Networking</a>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
              <a href="/services/virtual-computing">Virtual Computing</a>
              <a href="/services/online-ups">Online UPS Solutions</a>
              <a href="/services/biometric-attendance">Biometric attendance</a>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </div>
          </li>

          <li class="responsive-nav">
            <a href="/services/ip-cctv">IP/CCTV Camera</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/networking">Professional Networking</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/ip-pbx">IP PBX Solutions</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/virtual-computing">Virtual Computing</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/online-ups">Online UPS Solutions</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/biometric-attendance">Biometric attendance</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/public-announcement-system"
              >Public Announcement System</a
            >
          </li>

          <li><a href="/clients">Clients</a></li>

          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <div class="title">
        <h1>Biometric Attendance</h1>
      </div>

      <div class="info-banner">
        Our store is currently unavailable, to place an order please contact us
        on our
        <a
          href="https://api.whatsapp.com/send?phone=8801628888444"
          target="_blank"
          >WhatsApp</a
        >. We apologize for the inconvenience.
      </div>

      <div class="hero">
        <div class="order-button-container">
          <img src="../assets/biometric.png" alt="photo" />
          <button class="order-button" disabled>Place Order</button>
        </div>

        <div class="hero-text-container">
          <p>
            Welcome to AS IT Solutions, where innovation meets precision in
            workforce management. Our Biometric Attendance Systems redefine how
            businesses track employee attendance, providing accurate and
            efficient solutions for time and attendance management. Trust AS IT
            Solutions to elevate your workforce efficiency through cutting-edge
            biometric technology.
          </p>

          <p><b>We are offering:</b></p>

          <div class="card">
            <h3>Accurate and Reliable</h3>
            <p>
              AS IT Solutions Biometric Attendance Systems provide unparalleled
              accuracy and reliability. Say goodbye to manual attendance
              tracking and eliminate the risk of errors with biometric
              identification.
            </p>
          </div>
          <div class="card">
            <h3>Seamless Integration</h3>
            <p>
              Our Biometric Attendance Systems seamlessly integrate with your
              existing HR and payroll systems. Simplify administrative tasks and
              reduce the risk of payroll discrepancies with automated and
              accurate attendance data.
            </p>
          </div>
          <div class="card">
            <h3>Multiple Biometric Modalities</h3>
            <p>
              AS IT Solutions offers a range of biometric modalities, including
              fingerprint recognition, facial recognition, and iris scanning.
              Choose the solution that best suits your organization's needs and
              security requirements.
            </p>
          </div>
          <div class="card">
            <h3>Real-time Monitoring</h3>
            <p>
              Keep track of employee attendance in real-time. Our systems
              provide instant updates, allowing you to monitor attendance
              patterns, identify trends, and make informed decisions to optimize
              workforce management.
            </p>
          </div>
          <div class="card">
            <h3>Enhanced Security</h3>
            <p>
              Biometric identification adds an extra layer of security to your
              attendance system. Protect against buddy punching and unauthorized
              access, ensuring that only authorized personnel gain entry.
            </p>
          </div>
          <div class="card">
            <h3>Weather-Resistant Design</h3>
            <p>
              Our cameras are built to withstand the elements. Whether it's
              rain, snow, or extreme temperatures, our weather-resistant designs
              ensure consistent performance in all conditions.
            </p>
          </div>
        </div>
      </div>

      <section>
        <h1>Your Perks</h1>

        <div class="grid">
          <div>
            <h3>Consultation and Assessment</h3>
            <p>
              Our experts conduct a thorough assessment of your organization's
              attendance tracking needs. We then provide tailored
              recommendations based on the size, structure, and requirements of
              your workforce.
            </p>
          </div>
          <div>
            <h3>Installation and Integration</h3>
            <p>
              Trust AS IT Solutions for a seamless installation process. Our
              skilled technicians ensure that the Biometric Attendance System is
              integrated with your existing infrastructure for optimal
              performance.
            </p>
          </div>
          <div>
            <h3>Training and Support</h3>
            <p>
              AS IT Solutions is committed to empowering your team. We offer
              comprehensive training to ensure that your staff can efficiently
              use and manage the Biometric Attendance System. Our support team
              is ready to assist with any inquiries or concerns.
            </p>
          </div>
          <div>
            <h3>Maintenance and Upgrades</h3>
            <p>
              Enjoy hassle-free operation with our maintenance services. We
              conduct regular check-ups, updates, and upgrades to keep your
              Biometric Attendance System operating at peak efficiency
            </p>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <div class="row">
        <div>
          <h1>AS IT Solutions</h1>
          <p>All rights reserved.</p>
        </div>

        <div>
          <h2>Get in touch</h2>

          <p>
            <i class="fa-solid fa-location-dot"></i> House 11, Road 15, Nikunja
            2, Khilkhet, Dhaka 1229
          </p>
          <p>
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:info@asitsolutions.net">info@asitsolutions.net</a>
          </p>
          <p>
            <i class="fa-solid fa-phone"></i>
            <a href="tel:+01628888444">01628888444</a>
          </p>
          <p>
            <i class="fa-solid fa-phone-office"></i>
            <a href="tel:+09614445555">09614445555</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../header.js"></script>
  </body>
</html>
