<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IP/CCTV Camera</title>
    <meta name="description" content="AS IT Solutions provide wide range of IT products & Service to
    satisfy day to day needs and enhance people’s quality of life. We
    have dedicated ourselves in upgrading the knowledge and skill of our
    people through adopting the Latest & Advance technology.">
    <meta property="og:image" content="../assets/hero.jpg"/>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.png" />
    <link rel="stylesheet" href="../styles/globals.css" />
    <link rel="stylesheet" href="../styles/service.css" />
    <link
      href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="shadow">
      <a href="/"><img src="../assets/logo.png" alt="logo" /></a>

      <button class="nav-toggle" aria-controls="navigation">
        <i class="fa-solid fa-bars"></i>
      </button>

      <nav>
        <ul class="primary-navigation" data-visible="false">
          <li><a href="/">Home</a></li>
          <li class="dropdown">
            <a class="dropbtn"
              >Services <i class="fa-solid fa-caret-down"></i
            ></a>
            <div class="dropdown-content">
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
              <a href="/services/networking">Professional Networking</a>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
              <a href="/services/virtual-computing">Virtual Computing</a>
              <a href="/services/online-ups">Online UPS Solutions</a>
              <a href="/services/biometric-attendance">Biometric attendance</a>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </div>
          </li>

          <li class="responsive-nav">
            <a href="/services/ip-cctv">IP/CCTV Camera</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/networking">Professional Networking</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/ip-pbx">IP PBX Solutions</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/virtual-computing">Virtual Computing</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/online-ups">Online UPS Solutions</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/biometric-attendance">Biometric attendance</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/public-announcement-system"
              >Public Announcement System</a
            >
          </li>

          <li><a href="/clients">Clients</a></li>

          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <div class="title">
        <h1>IP/CCTV Camera</h1>
      </div>

      <div class="info-banner">
        Our store is currently unavailable, to place an order please contact us
        on our
        <a
          href="https://api.whatsapp.com/send?phone=8801628888444"
          target="_blank"
          >WhatsApp</a
        >. We apologize for the inconvenience.
      </div>

      <div class="hero">
        <div class="order-button-container">
          <img src="../assets/cctv.png" alt="photo" />
          <button class="order-button" disabled>Place Order</button>
        </div>

        <div class="hero-text-container">
          <p>
            At AS IT Solutions, we understand the paramount importance of
            security in today’s fast-paced world. Our cutting-edge surveillance
            camera solutions are designed to provide you with peace of mind,
            offering robust protection for your property, assets, and loved
            ones.
          </p>

          <p><b>We are offering:</b></p>
          
          <div class="card">
            <h3>High-Definition Video Quality</h3>
            <p>
              Experience crystal-clear footage with our surveillance cameras
              equipped with high-definition video capabilities. Monitor your
              premises with unparalleled clarity, ensuring every detail is
              captured.
            </p>
          </div>
          <div class="card">
            <h3>Wide-Angle Coverage</h3>
            <p>
              Our surveillance cameras come with wide-angle lenses, offering
              extensive coverage of your surroundings. Minimize blind spots and
              ensure comprehensive monitoring for enhanced security.
            </p>
          </div>
          <div class="card">
            <h3>Night Vision Technology</h3>
            <p>
              Security doesn't rest when the sun goes down. Our cameras feature
              advanced night vision technology, allowing you to maintain
              surveillance around the clock, even in low-light conditions.
            </p>
          </div>
          <div class="card">
            <h3>Remote Monitoring</h3>
            <p>
              Stay connected to your property no matter where you are. Our
              surveillance systems enable remote monitoring through secure
              online platforms or mobile apps, providing real-time access to
              live feeds.
            </p>
          </div>
          <div class="card">
            <h3>Motion Detection and Alerts</h3>
            <p>
              Enhance efficiency by receiving instant alerts when motion is
              detected. Our surveillance cameras are equipped with intelligent
              motion detection technology, keeping you informed of any unusual
              activity.
            </p>
          </div>
          <div class="card">
            <h3>Weather-Resistant Design</h3>
            <p>
              Our cameras are built to withstand the elements. Whether it's
              rain, snow, or extreme temperatures, our weather-resistant designs
              ensure consistent performance in all conditions.
            </p>
          </div>
        </div>
      </div>

      <section>
        <h1>Your Perks</h1>

        <div class="grid">
          <div>
            <h3>Expert Consultation</h3>
            <p>
              Our experienced team will work closely with you to understand your
              security needs and recommend the most suitable surveillance camera
              solutions tailored to your requirements.
            </p>
          </div>
          <div>
            <h3>Quality Assurance</h3>
            <p>
              We source and provide cameras from top-notch manufacturers,
              ensuring durability, reliability, and optimal performance.
            </p>
          </div>
          <div>
            <h3>Professional Installation</h3>
            <p>
              Leave the installation to us. Our skilled technicians will set up
              your surveillance system efficiently, ensuring all components are
              properly configured for maximum effectiveness.
            </p>
          </div>
          <div>
            <h3>Ongoing Support</h3>
            <p>
              Our commitment doesn't end with installation. Count on us for
              ongoing support, maintenance, and any assistance you may need to
              ensure your surveillance system operates seamlessly.
            </p>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <div class="row">
        <div>
          <h1>AS IT Solutions</h1>
          <p>All rights reserved.</p>
        </div>

        <div>
          <h2>Get in touch</h2>

          <p>
            <i class="fa-solid fa-location-dot"></i> House 11, Road 15, Nikunja
            2, Khilkhet, Dhaka 1229
          </p>
          <p>
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:info@asitsolutions.net">info@asitsolutions.net</a>
          </p>
          <p>
            <i class="fa-solid fa-phone"></i>
            <a href="tel:+01628888444">01628888444</a>
          </p>
          <p>
            <i class="fa-solid fa-phone-office"></i>
            <a href="tel:+09614445555">09614445555</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../header.js"></script>
  </body>
</html>
