<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Professional Networking</title>
    <meta name="description" content="AS IT Solutions provide wide range of IT products & Service to
    satisfy day to day needs and enhance people’s quality of life. We
    have dedicated ourselves in upgrading the knowledge and skill of our
    people through adopting the Latest & Advance technology.">
    <meta property="og:image" content="../assets/hero.jpg"/>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.png" />
    <link rel="stylesheet" href="../styles/globals.css" />
    <link rel="stylesheet" href="../styles/service.css" />
    <link
      href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="shadow">
      <a href="/"><img src="../assets/logo.png" alt="logo" /></a>

      <button class="nav-toggle" aria-controls="navigation">
        <i class="fa-solid fa-bars"></i>
      </button>

      <nav>
        <ul class="primary-navigation" data-visible="false">
          <li><a href="/">Home</a></li>
          <li class="dropdown">
            <a class="dropbtn"
              >Services <i class="fa-solid fa-caret-down"></i
            ></a>
            <div class="dropdown-content">
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
              <a href="/services/networking">Professional Networking</a>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
              <a href="/services/virtual-computing">Virtual Computing</a>
              <a href="/services/online-ups">Online UPS Solutions</a>
              <a href="/services/biometric-attendance">Biometric attendance</a>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </div>
          </li>

          <li class="responsive-nav">
            <a href="/services/ip-cctv">IP/CCTV Camera</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/networking">Professional Networking</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/ip-pbx">IP PBX Solutions</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/virtual-computing">Virtual Computing</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/online-ups">Online UPS Solutions</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/biometric-attendance">Biometric attendance</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/public-announcement-system"
              >Public Announcement System</a
            >
          </li>

          <li><a href="/clients">Clients</a></li>

          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <div class="title">
        <h1>Professional Networking</h1>
      </div>

      <div class="info-banner">
        Our store is currently unavailable, to place an order please contact us
        on our
        <a
          href="https://api.whatsapp.com/send?phone=8801628888444"
          target="_blank"
          >WhatsApp</a
        >. We apologize for the inconvenience.
      </div>

      <div class="hero">
        <div class="order-button-container">
          <img src="../assets/networking.jpg" alt="photo" />
          <button class="order-button" disabled>Place Order</button>
        </div>

        <div class="hero-text-container">
          <p>
            At AS IT Solutions, we recognize the pivotal role that a robust
            office networking infrastructure plays in the success of modern
            businesses. Our comprehensive networking solutions are tailored to
            meet the unique demands of your organization, fostering seamless
            communication, collaboration, and efficiency.
          </p>

          <p><b>We are offering:</b></p>
          
          <div class="card">
            <h3>Network Design and Implementation</h3>
            <p>
              Entrust your office networking needs to our expert team. We
              specialize in designing and implementing scalable and reliable
              networks that support your current requirements while
              accommodating future growth.
            </p>
          </div>
          <div class="card">
            <h3>Wired and Wireless Solutions</h3>
            <p>
              Embrace flexibility with our wired and wireless networking
              solutions. From high-speed Ethernet connections for desktops to
              secure and efficient Wi-Fi networks, we tailor our services to
              your specific needs.
            </p>
          </div>
          <div class="card">
            <h3>Network Security</h3>
            <p>
              Safeguard your critical data with our robust network security
              measures. We deploy state-of-the-art firewalls, intrusion
              detection systems, and encryption protocols to ensure your network
              remains protected from cyber threats.
            </p>
          </div>
          <div class="card">
            <h3>Cloud Integration</h3>
            <p>
              Seamlessly integrate cloud services into your office network to
              enhance collaboration and accessibility. Our solutions facilitate
              efficient data storage, sharing, and application usage in a secure
              cloud environment.
            </p>
          </div>
          <div class="card">
            <h3>Network Monitoring and Management</h3>
            <p>
              Gain complete visibility and control over your network with our
              monitoring and management services. Proactively identify and
              address potential issues to ensure optimal performance and
              minimize downtime.
            </p>
          </div>
          <div class="card">
            <h3>VPN Solutions</h3>
            <p>
              Facilitate secure remote access for your employees with our VPN
              (Virtual Private Network) solutions. Enable seamless collaboration
              regardless of geographical locations while maintaining data
              privacy and security.
            </p>
          </div>
        </div>
      </div>

      <section>
        <h1>Your Perks</h1>

        <div class="grid">
          <div>
            <h3>Tailored Solutions</h3>
            <p>
              We understand that each business has unique networking
              requirements. Our solutions are customized to align with your
              specific needs, ensuring optimal performance and efficiency.
            </p>
          </div>
          <div>
            <h3>Scalability</h3>
            <p>
              Our office networking solutions are designed to grow with your
              business. Whether you're expanding your team or integrating new
              technologies, our scalable solutions adapt to your evolving needs.
            </p>
          </div>
          <div>
            <h3>Reliability and Performance</h3>
            <p>
              Count on our expertise to deliver a reliable and high-performance
              network infrastructure. We prioritize stability, speed, and
              efficiency to keep your business operations running smoothly.
            </p>
          </div>
          <div>
            <h3>Experienced Team</h3>
            <p>
              Our team of skilled professionals brings years of experience in
              designing, implementing, and managing office networks. Trust us to
              provide expert guidance and support throughout the entire process.
            </p>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <div class="row">
        <div>
          <h1>AS IT Solutions</h1>
          <p>All rights reserved.</p>
        </div>

        <div>
          <h2>Get in touch</h2>

          <p>
            <i class="fa-solid fa-location-dot"></i> House 11, Road 15, Nikunja
            2, Khilkhet, Dhaka 1229
          </p>
          <p>
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:info@asitsolutions.net">info@asitsolutions.net</a>
          </p>
          <p>
            <i class="fa-solid fa-phone"></i>
            <a href="tel:+01628888444">01628888444</a>
          </p>
          <p>
            <i class="fa-solid fa-phone-office"></i>
            <a href="tel:+09614445555">09614445555</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../header.js"></script>
  </body>
</html>
