<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual Computing</title>
    <meta name="description" content="AS IT Solutions provide wide range of IT products & Service to
    satisfy day to day needs and enhance people’s quality of life. We
    have dedicated ourselves in upgrading the knowledge and skill of our
    people through adopting the Latest & Advance technology.">
    <meta property="og:image" content="../assets/hero.jpg"/>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.png" />
    <link rel="stylesheet" href="../styles/globals.css" />
    <link rel="stylesheet" href="../styles/service.css" />
    <link
      href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="shadow">
      <a href="/"><img src="../assets/logo.png" alt="logo" /></a>

      <button class="nav-toggle" aria-controls="navigation">
        <i class="fa-solid fa-bars"></i>
      </button>

      <nav>
        <ul class="primary-navigation" data-visible="false">
          <li><a href="/">Home</a></li>
          <li class="dropdown">
            <a class="dropbtn"
              >Services <i class="fa-solid fa-caret-down"></i
            ></a>
            <div class="dropdown-content">
              <a href="/services/ip-cctv">IP/CCTV Camera</a>
              <a href="/services/networking">Professional Networking</a>
              <a href="/services/ip-pbx">IP PBX Solutions</a>
              <a href="/services/virtual-computing">Virtual Computing</a>
              <a href="/services/online-ups">Online UPS Solutions</a>
              <a href="/services/biometric-attendance">Biometric attendance</a>
              <a href="/services/public-announcement-system"
                >Public Announcement System</a
              >
            </div>
          </li>

          <li class="responsive-nav">
            <a href="/services/ip-cctv">IP/CCTV Camera</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/networking">Professional Networking</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/ip-pbx">IP PBX Solutions</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/virtual-computing">Virtual Computing</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/online-ups">Online UPS Solutions</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/biometric-attendance">Biometric attendance</a>
          </li>
          <li class="responsive-nav">
            <a href="/services/public-announcement-system"
              >Public Announcement System</a
            >
          </li>

          <li><a href="/clients">Clients</a></li>

          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <div class="title">
        <h1>Virtual Computing</h1>
      </div>

      <div class="info-banner">
        Our store is currently unavailable, to place an order please contact us
        on our
        <a
          href="https://api.whatsapp.com/send?phone=8801628888444"
          target="_blank"
          >WhatsApp</a
        >. We apologize for the inconvenience.
      </div>

      <div class="hero">
        <div class="order-button-container">
          <img src="../assets/virtual_computer.png" alt="photo" />
          <button class="order-button" disabled>Place Order</button>
        </div>

        <div class="hero-text-container">
          <p>
            Welcome to AS IT Solutions, Virtual computing solutions are
            innovative desktop computing solutions that shift the traditional PC
            computing infrastructure to a centralized computing model. Within
            Virtual computing solution, users replaces PC desktops or laptops
            with the access client devices, called zero or thin clients, to
            remotely connect to virtual desktops centrally hosted in the servers
            at the data center. We revolutionize the way businesses operate
            through cutting-edge virtual computing solutions. Our Virtual
            Computing services are designed to enhance flexibility, efficiency,
            and scalability within your organization. Trust AS IT Solutions to
            bring you the power of virtualization for a dynamic and resilient IT
            infrastructure.
          </p>

          <p><b>We are offering:</b></p>
          
          <div class="card">
            <h3>Increased Flexibility</h3>
            <p>
              AS IT Solutions empowers your business with increased flexibility
              through virtual computing. Embrace a dynamic IT environment that
              adapts to changing demands and ensures your team can work
              seamlessly from anywhere.
            </p>
          </div>
          <div class="card">
            <h3>Enhanced Efficiency</h3>
            <p>
              Experience heightened operational efficiency with our virtual
              computing solutions. Centralized management and streamlined
              workflows contribute to a more agile and responsive IT
              infrastructure.
            </p>
          </div>
          <div class="card">
            <h3>Scalability for Growth</h3>
            <p>
              Prepare your business for the future with scalable virtualization
              solutions. Whether you're a startup or an enterprise, our systems
              adapt to accommodate your growth and evolving IT needs.
            </p>
          </div>
          <div class="card">
            <h3>Cost Savings</h3>
            <p>
              Virtual computing reduces hardware costs and optimizes resource
              utilization. Enjoy cost savings through lower maintenance, energy
              consumption, and the ability to repurpose existing hardware for
              virtualization.
            </p>
          </div>
          <div class="card">
            <h3>Robust Disaster Recovery</h3>
            <p>
              AS IT Solutions ensures the resilience of your business with
              robust disaster recovery capabilities. Virtualization enables
              quick and efficient recovery in the event of hardware failures or
              unforeseen disasters.
            </p>
          </div>
        </div>
      </div>

      <section>
        <h1>Your Perks</h1>

        <div class="grid">
          <div>
            <h3>Virtual Desktop Infrastructure (VDI)</h3>
            <p>
              Transform the way your team works with Virtual Desktop
              Infrastructure. AS IT Solutions designs and implements VDI
              solutions that provide secure, accessible, and personalized
              virtual desktops for your workforce.
            </p>
          </div>
          <div>
            <h3>Server Virtualization</h3>
            <p>
              Optimize your server infrastructure with our server virtualization
              services. Consolidate multiple physical servers into virtual
              machines, maximizing resource utilization and simplifying server
              management.
            </p>
          </div>
          <div>
            <h3>Application Virtualization</h3>
            <p>
              Streamline application deployment and management with AS IT
              Solutions application virtualization services. Ensure consistent
              access to essential business applications across your
              organization.
            </p>
          </div>
          <div>
            <h3>Cloud Integration</h3>
            <p>
              Harness the power of the cloud through seamless virtualization
              integration. AS IT Solutions helps you leverage cloud resources
              for increased scalability, flexibility, and accessibility.
            </p>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <div class="row">
        <div>
          <h1>AS IT Solutions</h1>
          <p>All rights reserved.</p>
        </div>

        <div>
          <h2>Get in touch</h2>

          <p>
            <i class="fa-solid fa-location-dot"></i> House 11, Road 15, Nikunja
            2, Khilkhet, Dhaka 1229
          </p>
          <p>
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:info@asitsolutions.net">info@asitsolutions.net</a>
          </p>
          <p>
            <i class="fa-solid fa-phone"></i>
            <a href="tel:+01628888444">01628888444</a>
          </p>
          <p>
            <i class="fa-solid fa-phone-office"></i>
            <a href="tel:+09614445555">09614445555</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../header.js"></script>
  </body>
</html>
